/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 10px;
}

/* UTILITIES */

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* NAVBAR */

#navBar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navBar a {
  color: #fff;
}

.logo {
  padding: 10px 0;
}

.logo img {
  width: 175px;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
}

.links li {
  padding: 10px;
  font-size: 1.3rem;
}


#navBar ul li a:hover,
#navBar ul li a.current {
  /* background-color: #444; */
  color: #f7c08a;
}